

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<section>

<table>

  <tr id="first">

    <th>UserId</th>
    <th>title</th>
    <th>id</th>
    <th>completed</th>

  </tr>

  <tr *ngFor="let ourData of myUseableData">

<td>{{ourData.userId}}</td>
<td>{{ourData.title}}</td>
<td>{{ourData.id}}</td>
<td>{{ourData.completed}}</td>

  </tr>

</table>

</section>

</body>
</html>